{
  "Authentication": {
    "AzureAdB2C": {
    "ClientId": "{{ azureb2c_clientid }}",
    "Tenant": "{{ azureb2c_tenant }}",
    "SignUpSignInPolicyId": "{{ azureb2c_signupsignin_policy_id }}",
    "ResetPasswordPolicyId": "{{ azureb2c_reset_password_policy_id }}",
    "EditProfilePolicyId": "{{ azureb2c_edit_profile_policy_id }}",
    "RedirectUri": "{{ azureb2c_redirect_uri }}",
    "ClientSecret" : "{{ azureb2c_client_secret | b64decode }}",
    "ApiUrl": "{{ azureb2c_api_uri_https }}",
    "ApiScopes": "{{ azureb2c_apiscopes }}"
    }
  },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft": "Warning",
      "Microsoft.Hosting.Lifetime": "Information"
    }
  },
  "AllowedHosts": "*",
  "Urls": "https://localhost:5000"
}
