[Unit]
Description=dotNet webapp

[Service]
WorkingDirectory=/var/www/site-www
ExecStart=/usr/bin/dotnet /home/sammy/web_project/www/bin/Debug/netcoreapp3.1/publish/www.roman015.com.dll
Restart=always
RestartSec=10
SyslogIdentifier=webapp
User={{ webapp_user }}
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false

[Install]
WantedBy=multi-user.target
