.start {
    position: absolute;
    top: 50%;
    left: 50%;
    
}

.hidden {
    visibility:hidden;
}

.dissappear {
    display:none;
}

.dateLabel {
    padding-left: 0px;
    padding-right: 0px;
    font-weight: bold;
    color: black;
}
