.start {
    position: absolute;
    top: 50%;
    left: 50%;
    
}

.hidden {
    visibility:hidden;
}

.dissappear {
    display:none;
}

.dateLabel {
    padding-left: 0px;
    padding-right: 0px;
    font-weight: bold;
    color: black;
}

#myMap {
    width: 100%;
    height: 80vh;
}

.ButtonText {
    display: inherit;
}

.ButtonTextMobile {
    display:none;
}

@media only screen and (max-device-width: 480px) {
    #myMap {
        width: 100%;
        height: 50vh;
    }

    .ButtonText {
        display: none;
    }

    .ButtonTextMobile {
        display: inherit;
    }
}
