# Personal DigitalOcean API token
export TERRARIA_DOTOKEN={{ terraria_dotoken }}  # docker-machine (on web UI)
export DO_API_TOKEN={{ terraria_dotoken }}  # for ansible script

# Settings for discord bot relaying terraria chats
export TERRARIA_DISCORD_BOT_TOKEN="{{ terraria_discord_bot_token }}"
export TERRARIA_DISCORD_CHANNEL_ID={{ terraria_discord_channel }}

# export Dropbox token
export DROPBOX_ACCESS_TOKEN="{{ dropbox_access_token }}"