@page
@{
    ViewData["Title"] = "QR Code Generator";

    string textdata = string.Empty;
    string qrCodeImgUrl = string.Empty;

    if(Request.Method == "POST")
    {
        textdata = Request.Form["textdata"];
        qrCodeImgUrl = GenerateQRcodeUrl(textdata);
    }
    
}
@functions{
    private string GenerateQRcodeUrl(string input)
    {
        if(string.IsNullOrWhiteSpace(input))
        {
            return string.Empty;
        }

        return "/QRGenerator/Image/png?input="
        + System.Web.HttpUtility.UrlEncode(input);
    }
}
<h1>@ViewData["Title"]</h1>

<br/>

<div class="container">
    <form method="post">
        <div class="form-group">
            <input type="text" name="textdata" class="form-control" 
                value="@textdata" 
                placeholder="Enter text to use in the QR Code here And press Generate" 
                title="Enter text to use in the QR Code" />
        </div>
        <button class="btn btn-success">Generate</button>
        <br/>
        <img name="qrCodeImg" 
            src="@qrCodeImgUrl" 
            title="@textdata"/>
    </form>    
</div>
