@page
@model FactorioModel
@{
    ViewData["Title"] = "Factorio";
}
<h1>@ViewData["Title"]</h1>

<p>@Model.StatusMessage</p>

<br/>
<div class="container">
    <form asp-page-handler="ServerStart" method="post">
        <button class="btn btn-primary">Start</button>
    </form>

    <form asp-page-handler="ServerStop" method="post">
        <button class="btn btn-danger">Stop</button>
    </form>

    <form asp-page-handler="ServerStatus" method="post">
        <button class="btn btn-warning">Status</button>
    </form>
</div>
