@page
@{
    ViewData["Title"] = "Dummy File Generator";      
}

@section Header {
<script>
    function OnFileSizeChanged()
    {
        var x = document.getElementById("InputFileSize").value;
        try
        {
            var fileSize = Number(x);

            if(x)
            {
                document.getElementById("ButtonDownload").disabled = false; 
                document.getElementById("ButtonDownload").innerText = "Download";  
            }            
            else
            {
                document.getElementById("ButtonDownload").disabled = true;
                document.getElementById("ButtonDownload").innerText = "Download";
            }
        }
        catch(err)
        {
            document.getElementById("ButtonDownload").disabled = true;
            document.getElementById("ButtonDownload").innerText = "Download";
        }

    }

    function DownloadDummyFile()
    {
        var fileSize = Number();
        var url = "/DummyFileGenerator?size=" 
            + document.getElementById("InputFileSize").value;
        window.open(url,'_blank');
    }
</script>
}

<h1>@ViewData["Title"]</h1>

<br/>

<div class="container">
    <div class="form-group">
        <input id="InputFileSize" type="text" name="textdata" class="form-control" 
            autofocus="autofocus"
            oninput="OnFileSizeChanged()"
            onkeydown="if (event.keyCode == 13) { DownloadDummyFile() }"
            placeholder="Enter File size (Default is Bytes but can mention KB or MB for Kilobytes and Megabytes as well)" 
            title="Enter File size (Default is Bytes but can mention KB or MB for Kilobytes and Megabytes as well)" />
    </div>
    <button id="ButtonDownload" class="btn btn-success" 
        disabled 
        onclick="DownloadDummyFile()">Download</button>
    <br/>    
</div>
