@page
@model IndexModel
@{
    /*
        QR Code by icon 54 from the Noun Project
        Speech Bubble by libertetstudio from the Noun Project
    */
    ViewData["Title"] = "Home page";
}

@section Header{
    <style>
        .btn {
            margin-top: 10px;
        }

        .btn-icon {
            height: 30px;
            max-width: 50px;
        }

        .bmc-button {
            color: #212529;
            background-color:#FF813F !important;
            border-color: #FF813F !important;
        }

        .bmc-button:hover {
            color: #212529;
            background-color:#F2773F !important;
            border-color: #F2773F !important;
        }
    </style>
}

<div class="container text-center">
    <div class="row">
        <div class="col-sm-12 col-lg-4">
            <button type="button" onclick="location.href='https://blog.roman015.com';" class="btn btn-primary btn-block btn-lg">
                <img class="btn-icon" src="~/img/Blog.png"/>
                <br/>
                The Missing Source Code
            </button>
        </div>
        <div class="col-sm-12 col-lg-4">
            <button type="button" onclick="location.href='QRCode';" class="btn btn-info btn-block btn-lg">
                <img class="btn-icon" src="~/img/QRCode.png"/>
                </br>
                QR Code Generator
            </button>
        </div>        
        <div class="col-sm-12 col-lg-4">
            <button type="button" onclick="location.href='GuessTheNumber';" class="btn btn-info btn-block btn-lg">
                <img class="btn-icon" src="~/img/Dice.png"/>
                </br>
                Guess The Number Game
            </button>
        </div>
        <div class="col-sm-12 col-lg-4">
            <button type="button" onclick="location.href='https://www.buymeacoffee.com/roman015';" class="btn btn-warning btn-block btn-lg bmc-button">
                <img class="btn-icon" src="~/img/bmc-new-btn-logo.png"/>
                </br>
                Wanna Buy Me Coffee?  
            </button>
        </div>
        @if (User.Identity.IsAuthenticated)
        {            
            <div class="col-sm-12 col-lg-4">
                <button type="button" onclick="location.href='https://www.roman015.com/Factorio';" class="btn btn-warning btn-block btn-lg">
                    <img class="btn-icon" src="~/img/Factorio.png"/>
                    <br/>
                    Factorio
                </button>
            </div>
        }
    </div>
</div>
