@page "/about"

<MainTitle Name="About This Blog" />

<div class="container">
    <div class="row">
        <div id="content" class="col-md-12">
            <p>
                The Missing Source Code is place for all my graffiti to reside for all the world to see.
                It's also an opportunity for me to try webhosting on 
                <del><a href="/posts/post_001">Azure</a></del>
                <del>
                    <a href="/posts/post_003.html" title="Yeah, I moved from Azure to DigitalOcean, it's a bit cheaper this way">
                        DigitalOcean
                    </a>
                </del>
                <a href="/posts/post_009" title="On second thought...">Azure &amp; DigitalOcean</a>.
                Hopefully I'll be able to host some interesting stuff/content here as time passes!
            </p>
        </div>
    </div>
</div>

@code {

}
