.cookie-notifier {
    padding-top: 0.5rem !important;
    padding-right: 1rem !important;
    padding-bottom: 0.5rem !important;
    padding-left: 1rem !important;
    border: 0.5rem;
    background: black;
}

.cookie-notifier-text {
    color: white !important;
}

.animated {
    animation-duration: 5s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}

@media (prefers-color-scheme: dark) {
    .cookie-notifier {
        background: #a6a6a6;
    }

    .cookie-notifier-text {
        color: black !important;
    }
}

@media (prefers-color-scheme: light) {
    .cookie-notifier {
        background: black;
    }

    .cookie-notifier-text {
        color: white !important;
    }
}
