@inject IJSRuntime JS

<header class="intro-header" id="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="site-heading">
                    <h1>@Name</h1>
                </div>
            </div>
        </div>
    </div>
</header>

@code {
    [Parameter]
    public string Name { get; set; }

    [Parameter]
    public string PageTitle { get; set; }

    protected override void OnInitialized()
    {
        if (!string.IsNullOrWhiteSpace(PageTitle))
        {
            JS.InvokeVoidAsync("SetPageTitle", PageTitle);
        }
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            // TODO : Remove the second one
            JS.InvokeVoidAsync("CreateTriangles");
            JS.InvokeVoidAsync("CreateTriangles");
        }
    }
}
