.icon {   
    background-repeat: no-repeat;
    height: 1.3em;
    margin: 0;
    padding-right: 0.9rem;
}

.icon-github {
    content: url("img/GitHub-Mark-Light-64px.png");
}

.icon-blog {
    filter: invert(100%);
}

.tiny-icon {
    position: relative;
    top: -0.5em;
    font-size: 50%;
}